<div style="font-family:Arial, Helvetica, sans-serif;">
<h1 style="text-align: center;">BMI CALCULATOR</h1>
<body style="background-color: lightgreen;">
<form name="bmiForm" style="margin-left: 40%;">
  Name: <input type="text" name="name_u" size="10"><br />
  Age: <input type="number" name="age" size="10" min="1"><br />
  Your Weight(kg): <input type="number" name="weight" size="10"><br />
  Your Height(cm): <input type="number" name="height" size="10"> 
  <p>Please select your gender:</p>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label>
  <p>Please select your gender:</p>
  <input type="radio" id="inactive" name="act" value="inactive">
  <label for="inactive">Inactive</label><br>
  <input type="radio" id="moderately active" name="act" value="moderately active">
  <label for="moderately active">Moderately active</label><br>
  <input type="radio" id="active" name="act" value="active">
  <label for="Active">Active</label>
  <br><input type="button" value="Calculate BMI" onClick="calculateBmi()"><br />
  Your BMI: <input type="number" name="bmi" size="10"readonly><br />
  <br>This Means: <input type="text" name="meaning" size="25"readonly ><br />
  <input type="reset" value="Reset" />
  </form>
  </body>
</div>